  body{
    background-image: linear-gradient(#5c5470, #e52e71); 
  }
  
  .container{
display: grid;
    grid-template-columns: repeat(3, minmax(150px, auto));
    grid-template-rows: repeat(3, minmax(150px, auto));
    grid-gap: 20px;
    
  }
  h1{
    text-align: center;
  }
    
   .picture{
     grid-column-start: 1;
     grid-column-end: 4;
   }
    
  .container div {
    border: 1px solid black;
    border-radius: 8px;
    
  }
  h2{
    text-align: center;
  }
  li{
    list-style-type: none;
    display: block;
    margin: 10px;
    border-radius: 8px;
    border : 1px solid black;
    text-align: center;
    
  }
  
  .goals{
   grid-area: 2 / 1 / 4 / 2 ;
  }
  
  .sidebar{
    grid-area: 2 / 2 / 4 / 4;
  }
  
  .Personal{
    grid-area: 4 / 1 / 4 / 4; 
    
  }
  .footer{
  grid-area: 5 / 1 / 5 / 4;
  }
  input[type = "text"] {
 transition: width 1s ease-in-out;
 padding: 10px;
 margin: 10px 0;
 border-radius: 8px;
 border: 2px solid purple;
 background-color: white;
    
  }
  input[type = "text"]:focus{
    width: 80%;
    border: 5px solid #555;
  }
  
  form{
    background-image: linear-gradient(#E52E71, #5C5470);
    border-radius: 8px;
    align-content: center;
  }
.image-gallery{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
 border: 0px black;
 place-items: center;
  gap: 3px;   
  }
.accordion-item{
  background-image: linear-gradient(#E52E71, #5C5470);
    --bs-accordion-bg: #000;
  --bs-accordion-color: #fff;
  --bs-accordion-btn-color: #fff;
  --bs-accordion-btn-bg: #000;
  --bs-accordion-active-color: #fff;
  --bs-accordion-active-bg: #222;
  --bs-accordion-border-color: #444;
  --bs-accordion-btn-focus-box-shadow: 0 0 0 0.25rem rgba(255, 255, 255, 0.25);
  max-height: 40px;
}
